.active-member {
  font-weight: bold;
}

.nav-pills.red > li > a {
    background-color: lightgray !important;
    color: darkred !important;
}

.nav-pills > li.active > a {
    background-color: darkred !important;
    color: white !important;
}