@menu-width: 300px;

body {
  background-color: #9D1020;
  .background-image( linear-gradient(top, #9D1020, #918e82 100%) );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  // .position(absolute, 0, 0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#menu {
  width: @menu-width;
  float:left;
}

#content-container {
  float: left;
  // Height of footer = 36, border around body = 8
  min-height: calc(~"100vh - 52px");
}

.footer {
  clear: both;
  width: 100%;
  bottom: 0px;
}
