@menu-width: 300px;
@column: 5.55555%;
@footerHeight: 4em;

body {
  .position(relative, 0, 0, 0, 0);
  background-color: #9D1020;
  .background-image( linear-gradient(top, #9D1020, #918e82 100%) );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
  margin-top: 0;
  margin-left: 2*@column;
  margin-right: 2*@column;
  margin-bottom: -@footerHeight;
}

#menu {
  width: @menu-width;
  float: left;
}

#content-container {
  float:left;
}

#footer, #push {
  clear: both;
  height: @footerHeight;
}

.auth.form {
  text-align: center;

  .wrapper-auth {
    padding-top: 4em;
  }

  .title-auth {
    font-size: 40px;
    line-height: 48px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
}

.attended {
  background-color: green;
}

.absent {
  background-color: red;
}

.active {
  font-weight: bold;
}
